.classpath
.settings
.factorypath
.project
bin/*
*/.project
*/.classpath
*/.settings
*/target
*/target/*
*/.factorypath
*/bin/*
**/.project
**/.classpath
**/.settings
**/target
**/target/*
**/.factorypath
**/bin/*